body {
	background-image: url('../img/blackorchid.png');
}

.container {
	max-width: 960px;
	margin: 25px auto;
}

.group:after {
	display: table;
	clear: both;
	content: "";
}

/* COLUMNS */

[_col] {
	float: left;
	margin: 0 15px;
}

[_col~="1/3"] {
	width: calc(33.333333333% - 30px);
}

[_col~="1/2"] {
	width: calc(50% - 30px);
}

[_col~="2/3"] {
	width: calc(66.6666666666% - 30px);
}

[_col~="1"] {
	width: calc(100% - 30px);
}

[_col~="right"] {
	float: right;
}

[_col~="center"] {
	float: none;
	margin: 0 auto;
}

/* type */

body {
	font-size: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h3 {
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	font-weight: 600;
}

h2 em {
	font-style: normal;
	font-weight: 700;
}

h3 {
	font-size: 2.4em;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

nav {
	text-align: right;
	font-size: 1.4em;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .125em;
}

/* color */

body {
	color: #fff;
}

a {
	color: #fff;
}

h2 em {
	color: red;
}

.trailer {
	background: #000;
}

button {
	background: red;
}

/* header */

header {
	z-index: 99;
	background-image: url('../img/blackorchid.png');
	/*position: fixed;*/
}

[src*="logo"] {
	padding-top: 30px;
}

[src*="ship"] {
 	-webkit-animation-name: floating;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

/*.top {
	margin-top: 300px;
	z-index: 999;
}*/

/* nav */

nav a:link, nav a:visited {

}

nav a:hover {

}

nav a:target {

}

/* buttons */

button {
	text-align: center;
	margin: 0 auto;
	display: block;
}


/* video */

video {
	width: 50%;
	z-index: 999;
}

.mejs-container {
	width: 100%;
}

/* video controls */

/* hooks for controls:

.mejs-container
.mejs-inner
.mejs-mediaelement
.mejs-layers
.mejs-controls
.mejs-button 
.mejs-playpause-button
.mejs-play
.mejs-time
.mejs-currenttime-container
.mejs-time-rail
.mejs-time-total
.mejs-time-buffering
.mejs-time-loaded
.mejs-time-current
.mejs-time-handle
.mejs-time-float
.mejs-time-float-current
.mejs-time-float-corner
.mejs-duration-container
.mejs-duration
.mejs-volume-button
.mejs-mute
.mejs-volume-slider
.mejs-volume-total
.mejs-volume-current
.mejs-volume-handle
.mejs-fullscreen-button */

/* irregular containers */

/*.zag {
	width: 0;
	height: 0;
	border-bottom: 80px solid white;
	border-left: 1400px solid transparent;
	z-index: 9;
	position: absolute;
	top: 200px;
	left: -35px;
	background-image: url('../img/blackorchid.png');
}*/

/* animation */

@-webkit-keyframes floating {
	from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}





/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}